<div class=" w-full flex justify-between items-start space-x-5 px-10">
  <ul class=" w-3/5 space-y-7">
    <% @articlesFilteredByCategory.each do |article| %>
          <%= render partial: 'articles/article', locals: {article: article}%>
    <% end %>
  </ul>

  <div class=" w-1/3">
    <%= render 'categories/categoriesSideList' %>
  </div>
</div>

<%= render 'layouts/bottomNavbar' %>

